body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    height: auto;
    /* margin: 0; */
    /* padding: 0; */
    /* background-image: linear-gradient(to left, #b8a6dc, #fff, #d4c3f4); */

    font-family: 'Mooli', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Whisper', cursive;
    font-family: 'Young Serif', serif;
}

.login-container {
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 8px;
    box-shadow: 0 .25rem 1.75rem rgba(30, 34, 40, .02) !important;
    background-image: linear-gradient(to left, #fff, #d3c8e7);

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 100px;
    outline: none;
    border: none;
}

button {
    background-color: #7431FA;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    /* background-color: #7431FA; */
}

.inputbox {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(147, 146, 146);
}

.inputbox:active {
    border: none;
    outline: none;
    background-color: transparent;
}

.inputbox:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.subsignin {
    background-color: #2d0381;
}

.signusform {
    box-shadow: 0px 0px 10px 0px #b8a6dc;
    padding: 50px;
    border-radius: 30px;
    background-color: #efeaf9;

}

.forgotform {
    box-shadow: 0px 0px 5px 0px #b8a6dc;
    padding: 50px;
    border-radius: 30px;
    background-image: linear-gradient(to left, #fff #b9a5de, #fff);

}

.register {
    font-size: 30px;
    font-weight: 600;
    color: #2d0381;
}

.signupBox {
    padding: 30px;
    width: 50%;

}

@media (min-width:300px) and (max-width:700px) {
    .signupBox {
        width: 100%;
    }

}

.forgotbtn {
    text-decoration: none;
    color: #2d0381;
    font-weight: 700;
}

.logininput {
    border-radius: 60px;
    padding: 10px;
}

.loginbtn {
    background-color: #7431FA;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.loginbtn:hover {
    background-color: #7431FA;

}

.navbar {
    margin-top: 0px !important;
    height: auto !important;
    padding: 20px;


}

.navheader {
    position: sticky;
    top: 0px;
    z-index: 4;
}

.bell:hover {
    color: #FFF;
    background-color: #2d0381;
}

.bell {
    color: #2d0381;
    border: 1px solid #2d0381;
}

.taskmainBox {

    width: 75vw;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #b8a1e5;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;

}

.profile-header {
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(to left, #b8a1e5, #5206ea);


}

.balenceBox {
    height: 400px;
    background-color: #2d0381;
    box-shadow: 0px 0px 0px 10px white;
    padding: 10px;

}

.balence-box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #7431FA;
    border-radius: 20%;
    border: 2px solid wheat;
    box-shadow: 0px 0px 10px 0px;
    transition-duration: 1s;
    text-shadow: 0px 0px 10px wheat;

}

.balence-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #7431FA;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px;
    border: 2px solid wheat;
    transition-duration: 2s;
    text-shadow: 0px 0px 10px wheat;

}

.balence-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #7431FA;
    border-radius: 50%;
    border: 2px solid wheat;
    box-shadow: 0px 0px 10px 0px;
    transition: all;
    transition-duration: 2s;
    text-shadow: 0px 0px 10px wheat;



}

.balence-box1:hover {
    transform: rotateY(50deg)
}

.balence-box2:hover {
    transform: rotateY(50deg)
}

.balence-box3:hover {
    transform: rotateY(10deg);
    background-color: white;
    color: #2d0381;
    cursor: pointer;
}

.balanceTran {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;



}

.blancebtn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5206ea;
    color: #fff;
    padding: 20px;


}

.blancebtn1:hover {
    background-color: #b8a1e5;
    color: #2d0381;
}

.Invite_Friend_box {
    width: 90%;
    border-radius: 2px;
    height: 100px;
    color: #2d0381;
    text-decoration: underline;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(#b8a1e5, #5206ea); */

}

.Invitebtns {
    width: 90%;
    height: auto;
    font-size: 12px;
    background-image: linear-gradient(to left, #b8a1e5, #5206ea);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
}

.inviteLink {
    width: 90%;
    height: 200px;
    /* display: flex; */
    /* justify-content: center; */
    padding: 20px;
    color: white;
    margin: auto;
    background-color: #2d0381;


}

.img-mask.mask-2 img {
    -webkit-mask-image: url(../Images/icons/profile.svg);
    mask-image: url(../Images/icons/profile.svg)
}

.img-mask img {
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: auto;
    width: 20%;
    max-width: 20%;
    -webkit-mask-size: auto auto;
}

img,
svg {
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.shadow-lg {
    box-shadow: 0 .25rem 1.75rem rgba(30, 34, 40, .07) !important;
}

.card-text {
    color: #8F8AB5;
}

.card {
    background-color: light;
    box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, .07) !important;
    border: none;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;


}


.cart4 {
    background-color: #e6fffa !important;
    color: #50f4d3;

}

.cart3 {
    background-color: rgba(93, 135, 255, .4) !important;
    color: rgba(0, 68, 255, 0.4);

}

.cart2 {
    background-color: #fef5e5 !important;
    color: #fba107;

}

.cart1 {
    background-color: #e8f7ff !important;
    color: #009df1;

}

.cart5 {
    background-color: #fae5df;
    color: #fa896b;
    ;
}

.membershipbox:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 10px;
}

.membershipbox {
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 10px;
}

.cartstatus1 {
    background-color: transparent;
    border: none;
}

.cartstatus2 {
    background-color: transparent;
    border: none;
}

.cartstatus3 {
    background-color: transparent;
    border: none;
}

.cartstatus4 {
    background-color: transparent;
    border: none;
}

.statusBack {
    background: linear-gradient(160deg, #ffb7b7 9%, #727272 100%), radial-gradient(100% 100% at 30% 10%, #ffd1d1 0, #260000 100%), linear-gradient(180deg, #0ff 0, #fff 100%), radial-gradient(100% 100% at 70% 0, red 0, #00ffe0 100%), linear-gradient(280deg, #e2eb69 0, #30f 100%);
    background-blend-mode: screen, overlay, color-burn, color-dodge, normal;

}

.text-centerdata {
    text-align: center !important;
}

.solid-duo.text-purple-aqua .fill-secondary {
    fill: #8ce0f1
}

.solid-duo.text-purple-aqua .fill-primary {
    fill: #747ed1;
}

.cardbox {
    box-shadow: 0 0 0 0.05rem rgba(8, 60, 130, .06), 0 0 1.25rem rgba(30, 34, 40, .04);
    border: 0;
    color: inherit;
    border: 2px soid black;
    border-radius: 5px;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);


    --bs-card-spacer-y: 2rem;
    --bs-card-spacer-x: 2rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: #343f52;
    --bs-card-border-width: 1px;
    --bs-card-border-color: rgba(164, 174, 198, 0.2);
    --bs-card-border-radius: 0.4rem;
    --bs-card-inner-border-radius: 0.4rem;
    --bs-card-cap-padding-y: 0.9rem;
    --bs-card-cap-padding-x: 2rem;
    --bs-card-cap-bg: transparent;
    --bs-card-bg: var(--bs-white);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;



}

.shadow-lg {
    box-shadow: 0 .25rem 1.75rem rgba(30, 34, 40, .07) !important;
}

.g-6,
.gy-6 {
    --bs-gutter-y: 1.5rem;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

blockquote {
    border-left: .15rem solid var(--bs-primary);
    padding-left: 1rem;
    font-size: .85rem;
    line-height: 1.7;
    font-weight: 500;
}

blockquote {
    margin: 0 0 1rem;
}

.panel.panel-default {
    border-top-width: 3px;
}

.panel {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
    border: 0;
    border-radius: 4px;
    margin-bottom: 16px;
    background-color: #fff;
}

.thumb96 {
    width: 96px !important;
    height: 96px !important;
}

.thumb48 {
    width: 48px !important;
    height: 48px !important;
}